<div class="container-fluid">
  <h1 class="mb-3">About this project</h1>
  <p><em style="font-size: 25px;">This project started out from a personal need:  a quick and easy tool to split grocery bills. </em></p>
  
  <p class="text-justify text-muted" style="font-size: 25px;">
    My best friend and I live in the same apartment, so we would go grocery shopping together every weekend. The receipts would consist of food that we both share such as ground beef and tomatoes, and food that only belongs to one of us like minted Ben & Jerry ice-cream (Totally recommended if you haven't tried). At the end of each trip, we would always have a receipt marked with three different colors: pink for shared food, orange for her food only, and yellow for my food only. Our receipts looked colorful, but they waste a lot of our time. We need a better way to quickly calculate how much each of us has spent after each grocery trip. That's how this project came to life. I hope this tool will not only help us but many others splitting money faster and more accurately. Thank you for reading!   
  </p>
  
  <p class="text-info">You can reach out to me at heiditran1410@gmail.com! Enjoy your day!</p>
</div>

 


